.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

button {
  width: 150px;
  font-size: 25px;

}

hr {
  color: black;
}

input {
  width: 100%
}

Nav {
  text-align: center;
}

.NotesContainer {
  border: 1px solid red;
  width: 300px;
  height: 300px;
  margin-right: 25px; 
  overflow: hidden; 
  background-color: white;
}

.NotesContainer:hover{
  overflow: scroll;
}

.NotesDisplay {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  border: 1px solid green;
  background-color: lightgrey;

}

.NotesTitle {
  font-size: 25px;
  font-weight: bold;
}

textarea {
  width: 100%
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
